@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-3rYBaIIGm: #189085;
  --plasmic-token-primary-color: var(--token-3rYBaIIGm);
  --token--p0JnavKF: #9c48e7;
  --plasmic-token-secondary-color: var(--token--p0JnavKF);
  --token-Tc9oPhnzN: #5a7e4e;
  --plasmic-token-ali: var(--token-Tc9oPhnzN);
}

.plasmic_default_styles {
  --mixin-uNQweGC7yM-k_font-family: "Inter";
  --mixin-uNQweGC7yM-k_font-size: 16px;
  --mixin-uNQweGC7yM-k_font-weight: 400;
  --mixin-uNQweGC7yM-k_font-style: normal;
  --mixin-uNQweGC7yM-k_color: #535353;
  --mixin-uNQweGC7yM-k_text-align: left;
  --mixin-uNQweGC7yM-k_text-transform: none;
  --mixin-uNQweGC7yM-k_line-height: 1.5;
  --mixin-uNQweGC7yM-k_letter-spacing: normal;
  --mixin-uNQweGC7yM-k_white-space: pre-wrap;
  --mixin-uNQweGC7yM-k_user-select: text;
  --mixin-uNQweGC7yM-k_text-decoration-line: none;
  --mixin-uNQweGC7yM-k_text-overflow: clip;
  --mixin-W42DtSMvhCO6_color: #000000;
  --mixin-W42DtSMvhCO6_font-weight: 900;
  --mixin-W42DtSMvhCO6_font-size: 72px;
  --mixin-W42DtSMvhCO6_line-height: 1;
  --mixin-W42DtSMvhCO6_letter-spacing: -4px;
  --mixin-Wnv5_4Lq0J1V_font-family: "Inter";
  --mixin-Wnv5_4Lq0J1V_color: #000000;
  --mixin-Wnv5_4Lq0J1V_font-size: 48px;
  --mixin-Wnv5_4Lq0J1V_font-weight: 700;
  --mixin-Wnv5_4Lq0J1V_letter-spacing: -1px;
  --mixin-Wnv5_4Lq0J1V_line-height: 1.1;
  --mixin-Suv6Lj_lCHF__color: #0070f3;
  --mixin-kQruPNuOX6oz_font-family: "Inter";
  --mixin-kQruPNuOX6oz_color: #000000;
  --mixin-kQruPNuOX6oz_font-size: 32px;
  --mixin-kQruPNuOX6oz_font-weight: 600;
  --mixin-kQruPNuOX6oz_letter-spacing: -0.8px;
  --mixin-kQruPNuOX6oz_line-height: 1.2;
  --mixin-zjzpCdWEfK0l_font-family: "Inter";
  --mixin-zjzpCdWEfK0l_color: #000000;
  --mixin-zjzpCdWEfK0l_font-size: 24px;
  --mixin-zjzpCdWEfK0l_font-weight: 600;
  --mixin-zjzpCdWEfK0l_letter-spacing: -0.5px;
  --mixin-zjzpCdWEfK0l_line-height: 1.3;
  --mixin-HChoF-6I386d_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-HChoF-6I386d_border-bottom-color: #dddddd;
  --mixin-HChoF-6I386d_border-bottom-style: solid;
  --mixin-HChoF-6I386d_border-bottom-width: 1px;
  --mixin-HChoF-6I386d_border-left-color: #dddddd;
  --mixin-HChoF-6I386d_border-left-style: solid;
  --mixin-HChoF-6I386d_border-left-width: 1px;
  --mixin-HChoF-6I386d_border-right-color: #dddddd;
  --mixin-HChoF-6I386d_border-right-style: solid;
  --mixin-HChoF-6I386d_border-right-width: 1px;
  --mixin-HChoF-6I386d_border-top-color: #dddddd;
  --mixin-HChoF-6I386d_border-top-style: solid;
  --mixin-HChoF-6I386d_border-top-width: 1px;
  --mixin-HChoF-6I386d_border-bottom-left-radius: 3px;
  --mixin-HChoF-6I386d_border-bottom-right-radius: 3px;
  --mixin-HChoF-6I386d_border-top-left-radius: 3px;
  --mixin-HChoF-6I386d_border-top-right-radius: 3px;
  --mixin-HChoF-6I386d_font-family: "Inconsolata";
  --mixin-HChoF-6I386d_padding-bottom: 1px;
  --mixin-HChoF-6I386d_padding-left: 4px;
  --mixin-HChoF-6I386d_padding-right: 4px;
  --mixin-HChoF-6I386d_padding-top: 1px;
  --mixin-2z0qi403m2E4_border-left-color: #dddddd;
  --mixin-2z0qi403m2E4_border-left-style: solid;
  --mixin-2z0qi403m2E4_border-left-width: 3px;
  --mixin-2z0qi403m2E4_color: #888888;
  --mixin-2z0qi403m2E4_padding-left: 10px;
  --mixin-46LpQ5vvsBNt_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-46LpQ5vvsBNt_border-bottom-color: #dddddd;
  --mixin-46LpQ5vvsBNt_border-bottom-style: solid;
  --mixin-46LpQ5vvsBNt_border-bottom-width: 1px;
  --mixin-46LpQ5vvsBNt_border-left-color: #dddddd;
  --mixin-46LpQ5vvsBNt_border-left-style: solid;
  --mixin-46LpQ5vvsBNt_border-left-width: 1px;
  --mixin-46LpQ5vvsBNt_border-right-color: #dddddd;
  --mixin-46LpQ5vvsBNt_border-right-style: solid;
  --mixin-46LpQ5vvsBNt_border-right-width: 1px;
  --mixin-46LpQ5vvsBNt_border-top-color: #dddddd;
  --mixin-46LpQ5vvsBNt_border-top-style: solid;
  --mixin-46LpQ5vvsBNt_border-top-width: 1px;
  --mixin-46LpQ5vvsBNt_border-bottom-left-radius: 3px;
  --mixin-46LpQ5vvsBNt_border-bottom-right-radius: 3px;
  --mixin-46LpQ5vvsBNt_border-top-left-radius: 3px;
  --mixin-46LpQ5vvsBNt_border-top-right-radius: 3px;
  --mixin-46LpQ5vvsBNt_font-family: "Inconsolata";
  --mixin-46LpQ5vvsBNt_padding-bottom: 3px;
  --mixin-46LpQ5vvsBNt_padding-left: 6px;
  --mixin-46LpQ5vvsBNt_padding-right: 6px;
  --mixin-46LpQ5vvsBNt_padding-top: 3px;
  --mixin-nVv8jODH9bLN_display: flex;
  --mixin-nVv8jODH9bLN_flex-direction: column;
  --mixin-nVv8jODH9bLN_align-items: stretch;
  --mixin-nVv8jODH9bLN_justify-content: flex-start;
  --mixin-nVv8jODH9bLN_list-style-position: outside;
  --mixin-nVv8jODH9bLN_padding-left: 40px;
  --mixin-nVv8jODH9bLN_position: relative;
  --mixin-nVv8jODH9bLN_list-style-type: disc;
  --mixin-lrtGNxGEwAdL_display: flex;
  --mixin-lrtGNxGEwAdL_flex-direction: column;
  --mixin-lrtGNxGEwAdL_align-items: stretch;
  --mixin-lrtGNxGEwAdL_justify-content: flex-start;
  --mixin-lrtGNxGEwAdL_list-style-position: outside;
  --mixin-lrtGNxGEwAdL_padding-left: 40px;
  --mixin-lrtGNxGEwAdL_position: relative;
  --mixin-lrtGNxGEwAdL_list-style-type: decimal;
  --mixin-VuyVWgQUutbof_font-family: "Inter";
  --mixin-VuyVWgQUutbof_color: #000000;
  --mixin-VuyVWgQUutbof_font-size: 20px;
  --mixin-VuyVWgQUutbof_font-weight: 600;
  --mixin-VuyVWgQUutbof_letter-spacing: -0.3px;
  --mixin-VuyVWgQUutbof_line-height: 1.5;
  --mixin-6OzEUpI-ZK3Hp_font-family: "Inter";
  --mixin-6OzEUpI-ZK3Hp_color: #000000;
  --mixin-6OzEUpI-ZK3Hp_font-size: 16px;
  --mixin-6OzEUpI-ZK3Hp_font-weight: 600;
  --mixin-6OzEUpI-ZK3Hp_line-height: 1.5;
  --mixin-bX646UXkBQu6Y_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-uNQweGC7yM-k_font-family);
  font-size: var(--mixin-uNQweGC7yM-k_font-size);
  font-weight: var(--mixin-uNQweGC7yM-k_font-weight);
  font-style: var(--mixin-uNQweGC7yM-k_font-style);
  color: var(--mixin-uNQweGC7yM-k_color);
  text-align: var(--mixin-uNQweGC7yM-k_text-align);
  text-transform: var(--mixin-uNQweGC7yM-k_text-transform);
  line-height: var(--mixin-uNQweGC7yM-k_line-height);
  letter-spacing: var(--mixin-uNQweGC7yM-k_letter-spacing);
  white-space: var(--mixin-uNQweGC7yM-k_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-W42DtSMvhCO6_color);
  font-weight: var(--mixin-W42DtSMvhCO6_font-weight);
  font-size: var(--mixin-W42DtSMvhCO6_font-size);
  line-height: var(--mixin-W42DtSMvhCO6_line-height);
  letter-spacing: var(--mixin-W42DtSMvhCO6_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-Wnv5_4Lq0J1V_font-family);
  color: var(--mixin-Wnv5_4Lq0J1V_color);
  font-size: var(--mixin-Wnv5_4Lq0J1V_font-size);
  font-weight: var(--mixin-Wnv5_4Lq0J1V_font-weight);
  letter-spacing: var(--mixin-Wnv5_4Lq0J1V_letter-spacing);
  line-height: var(--mixin-Wnv5_4Lq0J1V_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-Suv6Lj_lCHF__color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-kQruPNuOX6oz_font-family);
  color: var(--mixin-kQruPNuOX6oz_color);
  font-size: var(--mixin-kQruPNuOX6oz_font-size);
  font-weight: var(--mixin-kQruPNuOX6oz_font-weight);
  letter-spacing: var(--mixin-kQruPNuOX6oz_letter-spacing);
  line-height: var(--mixin-kQruPNuOX6oz_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-zjzpCdWEfK0l_font-family);
  color: var(--mixin-zjzpCdWEfK0l_color);
  font-size: var(--mixin-zjzpCdWEfK0l_font-size);
  font-weight: var(--mixin-zjzpCdWEfK0l_font-weight);
  letter-spacing: var(--mixin-zjzpCdWEfK0l_letter-spacing);
  line-height: var(--mixin-zjzpCdWEfK0l_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-HChoF-6I386d_background);
  font-family: var(--mixin-HChoF-6I386d_font-family);
  border-radius: var(--mixin-HChoF-6I386d_border-top-left-radius)
    var(--mixin-HChoF-6I386d_border-top-right-radius)
    var(--mixin-HChoF-6I386d_border-bottom-right-radius)
    var(--mixin-HChoF-6I386d_border-bottom-left-radius);
  padding: var(--mixin-HChoF-6I386d_padding-top)
    var(--mixin-HChoF-6I386d_padding-right)
    var(--mixin-HChoF-6I386d_padding-bottom)
    var(--mixin-HChoF-6I386d_padding-left);
  border-top: var(--mixin-HChoF-6I386d_border-top-width)
    var(--mixin-HChoF-6I386d_border-top-style)
    var(--mixin-HChoF-6I386d_border-top-color);
  border-right: var(--mixin-HChoF-6I386d_border-right-width)
    var(--mixin-HChoF-6I386d_border-right-style)
    var(--mixin-HChoF-6I386d_border-right-color);
  border-bottom: var(--mixin-HChoF-6I386d_border-bottom-width)
    var(--mixin-HChoF-6I386d_border-bottom-style)
    var(--mixin-HChoF-6I386d_border-bottom-color);
  border-left: var(--mixin-HChoF-6I386d_border-left-width)
    var(--mixin-HChoF-6I386d_border-left-style)
    var(--mixin-HChoF-6I386d_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-2z0qi403m2E4_color);
  padding-left: var(--mixin-2z0qi403m2E4_padding-left);
  border-left: var(--mixin-2z0qi403m2E4_border-left-width)
    var(--mixin-2z0qi403m2E4_border-left-style)
    var(--mixin-2z0qi403m2E4_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-46LpQ5vvsBNt_background);
  font-family: var(--mixin-46LpQ5vvsBNt_font-family);
  border-radius: var(--mixin-46LpQ5vvsBNt_border-top-left-radius)
    var(--mixin-46LpQ5vvsBNt_border-top-right-radius)
    var(--mixin-46LpQ5vvsBNt_border-bottom-right-radius)
    var(--mixin-46LpQ5vvsBNt_border-bottom-left-radius);
  padding: var(--mixin-46LpQ5vvsBNt_padding-top)
    var(--mixin-46LpQ5vvsBNt_padding-right)
    var(--mixin-46LpQ5vvsBNt_padding-bottom)
    var(--mixin-46LpQ5vvsBNt_padding-left);
  border-top: var(--mixin-46LpQ5vvsBNt_border-top-width)
    var(--mixin-46LpQ5vvsBNt_border-top-style)
    var(--mixin-46LpQ5vvsBNt_border-top-color);
  border-right: var(--mixin-46LpQ5vvsBNt_border-right-width)
    var(--mixin-46LpQ5vvsBNt_border-right-style)
    var(--mixin-46LpQ5vvsBNt_border-right-color);
  border-bottom: var(--mixin-46LpQ5vvsBNt_border-bottom-width)
    var(--mixin-46LpQ5vvsBNt_border-bottom-style)
    var(--mixin-46LpQ5vvsBNt_border-bottom-color);
  border-left: var(--mixin-46LpQ5vvsBNt_border-left-width)
    var(--mixin-46LpQ5vvsBNt_border-left-style)
    var(--mixin-46LpQ5vvsBNt_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-nVv8jODH9bLN_display);
  flex-direction: var(--mixin-nVv8jODH9bLN_flex-direction);
  align-items: var(--mixin-nVv8jODH9bLN_align-items);
  justify-content: var(--mixin-nVv8jODH9bLN_justify-content);
  list-style-position: var(--mixin-nVv8jODH9bLN_list-style-position);
  padding-left: var(--mixin-nVv8jODH9bLN_padding-left);
  position: var(--mixin-nVv8jODH9bLN_position);
  list-style-type: var(--mixin-nVv8jODH9bLN_list-style-type);
  flex-column-gap: var(--mixin-nVv8jODH9bLN_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-lrtGNxGEwAdL_display);
  flex-direction: var(--mixin-lrtGNxGEwAdL_flex-direction);
  align-items: var(--mixin-lrtGNxGEwAdL_align-items);
  justify-content: var(--mixin-lrtGNxGEwAdL_justify-content);
  list-style-position: var(--mixin-lrtGNxGEwAdL_list-style-position);
  padding-left: var(--mixin-lrtGNxGEwAdL_padding-left);
  position: var(--mixin-lrtGNxGEwAdL_position);
  list-style-type: var(--mixin-lrtGNxGEwAdL_list-style-type);
  flex-column-gap: var(--mixin-lrtGNxGEwAdL_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-VuyVWgQUutbof_font-family);
  color: var(--mixin-VuyVWgQUutbof_color);
  font-size: var(--mixin-VuyVWgQUutbof_font-size);
  font-weight: var(--mixin-VuyVWgQUutbof_font-weight);
  letter-spacing: var(--mixin-VuyVWgQUutbof_letter-spacing);
  line-height: var(--mixin-VuyVWgQUutbof_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-6OzEUpI-ZK3Hp_font-family);
  color: var(--mixin-6OzEUpI-ZK3Hp_color);
  font-size: var(--mixin-6OzEUpI-ZK3Hp_font-size);
  font-weight: var(--mixin-6OzEUpI-ZK3Hp_font-weight);
  line-height: var(--mixin-6OzEUpI-ZK3Hp_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-bX646UXkBQu6Y_color);
}
