.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 170px;
  height: 54px;
  flex-shrink: 0;
}
.svg__nSuc5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text {
  font-size: 20px;
}
.texttype_primary {
  color: #ffffff;
}
.svg__tom9B {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
