.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 96px 24px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.freeBox {
  display: block;
  position: relative;
  width: 1750px;
  height: 787px;
  max-width: 100%;
  left: auto;
  top: auto;
  overflow: visible;
  background: url("/plasmic/plasmic_test/images/heroBgpng.png") top 50% left 50% / cover repeat;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    left: auto;
    top: auto;
    width: 418px;
  }
}
.img__zrXnr {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
}
.img__zrXnr > picture > img {
  object-fit: cover;
}
.img__zrXnr > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__zrXnr {
    left: 4px;
    top: 327px;
    height: 299px;
  }
}
.img__u9X5R {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 27px;
  top: 99px;
}
.img__u9X5R > picture > img {
  object-fit: cover;
}
.img__u9X5R > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__u9X5R {
    left: 12px;
    top: 385px;
    height: 258px;
  }
}
.img__cskK0 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: -1px;
  top: 513px;
  height: 300px;
}
.img__cskK0 > picture > img {
  object-fit: cover;
}
.img__cskK0 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__cskK0 {
    left: -6px;
    top: 458px;
  }
}
.img__i3B0 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 987px;
  top: 281px;
}
.img__i3B0 > picture > img {
  object-fit: cover;
}
.img__i3B0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__tuMw {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: -5px;
  top: 264px;
}
.img__tuMw > picture > img {
  object-fit: cover;
}
.img__tuMw > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tuMw {
    left: 96px;
    top: 405px;
  }
}
.img___28EZd {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 1138px;
  top: -48px;
}
.img___28EZd > picture > img {
  object-fit: cover;
}
.img___28EZd > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___28EZd {
    left: 248px;
    top: -4px;
  }
}
.img___9W3V8 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 1132px;
  top: -23px;
}
.img___9W3V8 > picture > img {
  object-fit: cover;
}
.img___9W3V8 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___9W3V8 {
    left: 251px;
    top: 5px;
  }
}
.text__id0J2 {
  position: absolute;
  width: 366px;
  height: auto;
  max-width: 800px;
  left: 539px;
  top: -42px;
  font-family: Permanent Marker;
  font-size: 70px;
  transform: rotateX(5deg) rotateY(5deg) rotateZ(-15deg);
  line-height: 70px;
  color: var(--token-cZnSN_WNC);
  transform-style: preserve-3d;
}
.text__id0J2 * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__id0J2 {
    left: 21px;
    top: -31px;
    font-size: 38px;
    line-height: 40px;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__id0J2 * {
    transform-style: preserve-3d;
  }
}
.text__hRed {
  position: absolute;
  width: 529px;
  height: auto;
  max-width: 800px;
  left: 474px;
  top: 233px;
  font-family: var(--token-xlnrwlRpD);
  font-size: 30px;
  text-align: center;
  font-weight: 800;
  color: var(--token-d9VyYp1ri);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hRed {
    left: 28px;
    top: 173px;
    font-size: 18px;
    width: 319px;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 652px;
  top: 395px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button:global(.__wab_instance) {
    left: 157px;
    top: 442px;
  }
}
.svg__wvNQa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ohkRm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
