.root {
  flex-direction: column;
  display: flex;
  height: auto;
  max-width: 100%;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 25px;
}
.svg__xObiI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 65px;
  height: 53px;
  flex-shrink: 0;
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot {
  text-align: center;
  text-transform: uppercase;
}
